.headerContainer {
  background-color: #e4d5ba;
  width: 119px;
  height: 43px;
}

.headerContainer:active {
  /* background-color: #bd4949; */
}

.headerContainer * {
  color: #a59984;
}

.headerContainer::selection {
  background-color: #bd4949;
}

.headerMainContainer {
  width: 617px;
  height: 60px;
}
