.active {
  background-color: #bd4949;
  border-radius: 10px;
}

.headerContainer {
  width: 119px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer:active {
  /* background-color: #bd4949; */
}

.headerContainer a {
  color: #a59984;
}

.headerContainer * {
  color: #a59984;
}

.headerContainer::selection {
  background-color: #bd4949;
}

.headerMainContainer {
  width: 617px;
  height: 60px;
  border-radius: 10px;
}
