.searchContainer {
  height: 60px;
  border-radius: 10px;
  background-color: #f2e2c4;
  padding-left: 20px;
  border: none;
  color: #cdc0a8;
}

.searchContainer:focus {
  outline: none !important;
}
